.container {
    display: grid;

    grid-template-areas:
    "header header"
    "nav content";

    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 1fr;
    grid-gap: 10px;

    height: 100vh;
}

header {
    grid-area: header;
    border: black 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: lightsalmon;
}

nav {
    grid-area: nav;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: lightgreen;
}

main {
    grid-area: content;
    margin-right: 0.5rem;
    background-color: lightpink;
}
